.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    background:#111827;

    position:sticky;
    top:0;

    z-index:1000;
}

.logo{
    color:#38bdf8;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{

    color:white;

    font-size:18px;

    transition:.3s;
}

.nav-links a:hover{

    color:#38bdf8;

}